{% extends 'base.html' %}

{% block title %}Online Market{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'shop.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div>
    {% for product in products %}
        <div class="product-box">
            <img class="product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
            <hr>
            <div class="product-name">{{ product.name }}</div>
            <ul>
                <li class="product-detail"><a href="{% url 'shop:detail_product' product.id %}">Show Detail</a></li>
                <li class="product-cart"><a href="#">Add Cart</a></li>
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}